body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
    height: 100px;
}
input[type="submit"] {
    background-color: #0f75bc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type="submit"]:hover {
    background-color: #0f75bc;
}
header {
    padding: 10px;
    margin: 0;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
}
#dashboard {
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: inherit;
}
.comment-container {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; /* Add a border to separate comments */
    padding-bottom: 10px;
}
.name-text {
    font-size: 16px;
    font-weight: bold;
}
.comment-text {
    font-size: 16px;
    margin-bottom: 5px;
}
.rating-text {
    font-size: 14px;
}
a {
    color: #0f75bc;
    text-decoration: none;
    font-weight: bold;
}
#logo1 {
    width: 15%;
    height: 10%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}