@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans";
}

html {
    scroll-behavior: smooth;
}

body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 6fr);
    grid-template-areas:
        'top'
        'container';
}

#top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    min-width: 100%;
    user-select: none;
    background-color: white;
    z-index: 100;
    grid-area: top;
}

#container {
    grid-area: container;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container h2 {
    align-self: center;
    margin-top: 1rem;
}

#selector {
    align-self: center;
    display: flex;
    gap: 0.5rem;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
}

#incomplete {
    border-color: #ff9800;
    color: orange;
}

#incomplete:hover {
    background: #ff9800;
    color: white;
}

.active {
    font-weight: bold;
    transform: scale(1.1);
}

#complete {
    border-color: #04AA6D;
    color: green;
}

#complete:hover {
    background-color: #04AA6D;
    color: white;
}

.hidden {
    display: none;
}

#dashboard, #completed_dashboard {
    border-collapse: collapse;
    width:97%;
    margin: 1.5rem 0;
    align-self: center;
}

#dashboard th, #dashboard td, #completed_dashboard th, #completed_dashboard td {
    text-align: left;
    padding: 8px;
}

#dashboard th, #completed_dashboard th {
    background-color: #0f75bc;
    color: white;
    align-items: center;
}

#dashboard th p, #completed_dashboard th p {
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 600;
}

#dashboard th i, #completed_dashboard th i {
    display: inline-block;
    align-items: center;
    padding-left: 5px;
    font-size: 0.75rem;
}

#dashboard th i:hover, #completed_dashboard th i:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#dashboard th i:active, #completed_dashboard th i:active {
    transform: scale(0.95);
}


#dashboard th:first-child, #completed_dashboard th:first-child {
    border-top-left-radius: 5px;
}

#dashboard th:last-child, #completed_dashboard th:last-child {
    border-top-right-radius: 5px;
}

#dashboard tr, #completed_dashboard tr {
    transition: 0.05s ease;
    user-select: none;
}

#dashboard tr:nth-child(even), #completed_dashboard tr:nth-child(even) {
    background-color: #d1f5fd;
}

#dashboard tr:hover, #completed_dashboard tr:hover {
    background-color: #e8e8e8;
}

#dashboard td, #completed_dashboard td {
    text-align: left;
    padding: 8px;
}

#courselink, #completed_courselink {
    text-decoration: none;
    color: inherit;
}

#courselink:hover, #completed_courselink:hover {
    color: #f7b03e;
    cursor: pointer;
}

.inactive-link {
    color: #999;
    cursor: not-allowed;
}

td .link2 {
    color: #0f75bc;
    text-decoration: none;
    font-weight: bold;
}
td .link2:hover {
    color: #f7b03e;
    cursor: pointer;
}

td .link2 {
    color: #095c91;
    transform: scale(1.1);
}

.center {
    margin: auto;
    margin-top: 30px;
    width: 50%;
    border: 3px solid #0f75bc;
    padding: 10px;
}

.center {
    margin: auto;
    margin-top: 30px;
    width: 50%;
    border: 3px solid #0f75bc;
    padding: 10px;
}
.P {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #0f75bc;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}
.progress {
    width: 75%;
    height: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 5px;
}
.progress-bar {
    background-color: #0f75bc;
    transition: width 0.3s ease;;
}

.mini-progress {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.mini-progress-bar {
    height: 100%;
    background-color: #0f75bc;
    transition: width 0.3s ease;
}
#top a {
    font-family: Arial, sans-serif;
    color: #0f75bc;
    text-decoration: none;
}

#top a:hover {
    color: #f7b03e;
}
.U-progress {
    width: 75%;
    height: 20px;
    margin-left: auto;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 5px;
}